.disabled {
    opacity: 0.4;
    cursor: pointer;
}

.disabled > * {
    cursor: inherit;
}

.disabled label {
    cursor: pointer;
}

.disabled input {
    cursor: pointer;
}

.disabled:hover {
    opacity: 0.8;
}

.disableParameterButton {
    margin: 20px 0 10px 0;
    grid-column: 1 / 3;
}

.MuiSlider-root {
    color: white !important;
}